USE [BIBLIOTECA]
GO
/****** Object:  Index [TABLA8]    Script Date: 02/03/2019 12:21:17 p.m. ******/
DROP INDEX [TABLA8] ON [dbo].[VACACIONES]
GO
/****** Object:  Index [TABLA5]    Script Date: 02/03/2019 12:21:17 p.m. ******/
DROP INDEX [TABLA5] ON [dbo].[SUCURSALES]
GO
/****** Object:  Index [TABLA4]    Script Date: 02/03/2019 12:21:17 p.m. ******/
DROP INDEX [TABLA4] ON [dbo].[RENTA]
GO
/****** Object:  Index [TABLA1]    Script Date: 02/03/2019 12:21:17 p.m. ******/
DROP INDEX [TABLA1] ON [dbo].[LIBROS]
GO
/****** Object:  Index [TABLA10]    Script Date: 02/03/2019 12:21:17 p.m. ******/
DROP INDEX [TABLA10] ON [dbo].[LIBPERDIDOS]
GO
/****** Object:  Index [TABLA2]    Script Date: 02/03/2019 12:21:17 p.m. ******/
DROP INDEX [TABLA2] ON [dbo].[EMPLEADOS]
GO
/****** Object:  Index [TABLA6]    Script Date: 02/03/2019 12:21:17 p.m. ******/
DROP INDEX [TABLA6] ON [dbo].[COMPRA]
GO
/****** Object:  Index [TABLA3]    Script Date: 02/03/2019 12:21:17 p.m. ******/
DROP INDEX [TABLA3] ON [dbo].[CLIENTES]
GO
/****** Object:  Index [TABLA7]    Script Date: 02/03/2019 12:21:17 p.m. ******/
DROP INDEX [TABLA7] ON [dbo].[ANTIGUEDAD]
GO
/****** Object:  Index [TABLA9]    Script Date: 02/03/2019 12:21:17 p.m. ******/
DROP INDEX [TABLA9] ON [dbo].[AGUINALDO]
GO
/****** Object:  Table [dbo].[VACACIONES]    Script Date: 02/03/2019 12:21:17 p.m. ******/
DROP TABLE [dbo].[VACACIONES]
GO
/****** Object:  Table [dbo].[SUCURSALES]    Script Date: 02/03/2019 12:21:17 p.m. ******/
DROP TABLE [dbo].[SUCURSALES]
GO
/****** Object:  Table [dbo].[RENTA]    Script Date: 02/03/2019 12:21:17 p.m. ******/
DROP TABLE [dbo].[RENTA]
GO
/****** Object:  Table [dbo].[LIBROS]    Script Date: 02/03/2019 12:21:17 p.m. ******/
DROP TABLE [dbo].[LIBROS]
GO
/****** Object:  Table [dbo].[LIBPERDIDOS]    Script Date: 02/03/2019 12:21:17 p.m. ******/
DROP TABLE [dbo].[LIBPERDIDOS]
GO
/****** Object:  Table [dbo].[EMPLEADOS]    Script Date: 02/03/2019 12:21:17 p.m. ******/
DROP TABLE [dbo].[EMPLEADOS]
GO
/****** Object:  Table [dbo].[COMPRA]    Script Date: 02/03/2019 12:21:17 p.m. ******/
DROP TABLE [dbo].[COMPRA]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 02/03/2019 12:21:17 p.m. ******/
DROP TABLE [dbo].[CLIENTES]
GO
/****** Object:  Table [dbo].[ANTIGUEDAD]    Script Date: 02/03/2019 12:21:17 p.m. ******/
DROP TABLE [dbo].[ANTIGUEDAD]
GO
/****** Object:  Table [dbo].[AGUINALDO]    Script Date: 02/03/2019 12:21:17 p.m. ******/
DROP TABLE [dbo].[AGUINALDO]
GO
USE [master]
GO
/****** Object:  Database [BIBLIOTECA]    Script Date: 02/03/2019 12:21:17 p.m. ******/
DROP DATABASE [BIBLIOTECA]
GO
/****** Object:  Database [BIBLIOTECA]    Script Date: 02/03/2019 12:21:17 p.m. ******/
CREATE DATABASE [BIBLIOTECA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BIBLIOTECA', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\BIBLIOTECA.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BIBLIOTECA_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\BIBLIOTECA_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BIBLIOTECA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BIBLIOTECA]
GO
/****** Object:  Table [dbo].[AGUINALDO]    Script Date: 02/03/2019 12:21:17 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AGUINALDO](
	[IDEMPLEADO] [uniqueidentifier] NOT NULL,
	[FECHACONTRATACION] [date] NOT NULL,
	[SUELDO] [money] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[TIEMPOTRABAJANDO]  AS (datediff(year,[FECHACONTRATACION],getdate())),
	[AGUINALDO1]  AS ([SUELDO]+' MULTIPLICADO POR TIEMPO TRABAJANDO'),
PRIMARY KEY CLUSTERED 
(
	[IDEMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ANTIGUEDAD]    Script Date: 02/03/2019 12:21:17 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ANTIGUEDAD](
	[IDLIBRO] [uniqueidentifier] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[FECHAADQUI] [date] NOT NULL,
	[EDADLIB]  AS (datediff(year,[FECHAADQUI],getdate())),
PRIMARY KEY CLUSTERED 
(
	[IDLIBRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 02/03/2019 12:21:17 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[IDCLIENTE] [uniqueidentifier] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[NACIMIENTO] [date] NOT NULL,
	[EDAD]  AS (datediff(year,[NACIMIENTO],getdate())),
PRIMARY KEY CLUSTERED 
(
	[IDCLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COMPRA]    Script Date: 02/03/2019 12:21:17 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMPRA](
	[NOCOMPRA] [uniqueidentifier] NOT NULL,
	[FECHACOMP] [date] NOT NULL,
	[HORACOMP] [time](7) NULL,
	[PRECIO] [money] NOT NULL,
	[NOMLIB] [varchar](50) NOT NULL,
	[NOMBEMPLEADO] [varchar](50) NOT NULL,
	[NOMBCLIENTE] [varchar](50) NOT NULL,
	[VENTAPOR]  AS ([NOMBEMPLEADO]+('VENDIO A'+[NOMBCLIENTE])),
PRIMARY KEY CLUSTERED 
(
	[NOCOMPRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPLEADOS]    Script Date: 02/03/2019 12:21:17 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLEADOS](
	[IDEMPLEADO] [uniqueidentifier] NOT NULL,
	[FECHACONTRATACION] [date] NOT NULL,
	[SUELDO] [money] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[NACIMIENTO] [date] NOT NULL,
	[EDAD]  AS (datediff(year,[NACIMIENTO],getdate())),
PRIMARY KEY CLUSTERED 
(
	[IDEMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LIBPERDIDOS]    Script Date: 02/03/2019 12:21:17 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LIBPERDIDOS](
	[IDLIBRO] [uniqueidentifier] NOT NULL,
	[FECHAPERDIDA] [date] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDLIBRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LIBROS]    Script Date: 02/03/2019 12:21:17 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LIBROS](
	[IDLIBRO] [uniqueidentifier] NOT NULL,
	[DIADEADQUISICION] [date] NOT NULL,
	[COSTO] [money] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDLIBRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RENTA]    Script Date: 02/03/2019 12:21:17 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RENTA](
	[IDLIBRO] [uniqueidentifier] NOT NULL,
	[FECHARENTA] [date] NOT NULL,
	[NOMLIB] [varchar](50) NOT NULL,
	[HORARENTA] [time](7) NULL,
	[NOMCLIENT] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDLIBRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUCURSALES]    Script Date: 02/03/2019 12:21:17 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUCURSALES](
	[IDSUCURSAL] [uniqueidentifier] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[CALLE] [varchar](50) NOT NULL,
	[COLONIA] [varchar](50) NOT NULL,
	[DIRECCION]  AS ([CALLE]+(' '+[COLONIA])),
PRIMARY KEY CLUSTERED 
(
	[IDSUCURSAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VACACIONES]    Script Date: 02/03/2019 12:21:17 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VACACIONES](
	[IDEMPLEADO] [uniqueidentifier] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[INICIOVAC] [date] NULL,
	[FINVAC] [date] NULL,
	[DIAS]  AS (datediff(day,[INICIOVAC],[FINVAC])),
PRIMARY KEY CLUSTERED 
(
	[IDEMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [TABLA9]    Script Date: 02/03/2019 12:21:17 p.m. ******/
CREATE NONCLUSTERED INDEX [TABLA9] ON [dbo].[AGUINALDO]
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [TABLA7]    Script Date: 02/03/2019 12:21:17 p.m. ******/
CREATE NONCLUSTERED INDEX [TABLA7] ON [dbo].[ANTIGUEDAD]
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [TABLA3]    Script Date: 02/03/2019 12:21:17 p.m. ******/
CREATE NONCLUSTERED INDEX [TABLA3] ON [dbo].[CLIENTES]
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

GO
/****** Object:  Index [TABLA6]    Script Date: 02/03/2019 12:21:17 p.m. ******/
CREATE NONCLUSTERED INDEX [TABLA6] ON [dbo].[COMPRA]
(
	[VENTAPOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [TABLA2]    Script Date: 02/03/2019 12:21:17 p.m. ******/
CREATE NONCLUSTERED INDEX [TABLA2] ON [dbo].[EMPLEADOS]
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [TABLA10]    Script Date: 02/03/2019 12:21:17 p.m. ******/
CREATE NONCLUSTERED INDEX [TABLA10] ON [dbo].[LIBPERDIDOS]
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [TABLA1]    Script Date: 02/03/2019 12:21:17 p.m. ******/
CREATE NONCLUSTERED INDEX [TABLA1] ON [dbo].[LIBROS]
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [TABLA4]    Script Date: 02/03/2019 12:21:17 p.m. ******/
CREATE NONCLUSTERED INDEX [TABLA4] ON [dbo].[RENTA]
(
	[NOMLIB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [TABLA5]    Script Date: 02/03/2019 12:21:17 p.m. ******/
CREATE NONCLUSTERED INDEX [TABLA5] ON [dbo].[SUCURSALES]
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [TABLA8]    Script Date: 02/03/2019 12:21:17 p.m. ******/
CREATE NONCLUSTERED INDEX [TABLA8] ON [dbo].[VACACIONES]
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
